.bg-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.card {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
}
.header {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 30px;
  border-radius: 20px;
}
.main-caption {
  color: #475569;
  font-weight: 500;
  font-size: 20px;
}
.highlet-money {
  color: #0b69ff;
  font-weight: bold;
}

.transaction-details-container {
  display: flex;
  flex-direction: row;
}
.add-transaction-container {
  width: 30%;
  flex-grow: 1;
}
.transaction-form {
  border: 1px solid #cbd5e1;
  border-radius: 10px;
  width: 70%;
  height: 100%;
  padding: 10px 0px;
  padding-left: 40px;
}
.income-list-container {
  border: 1px solid #cbd5e1;
  width: 40%;
  padding: 20px;
  flex-grow: 1;
  border-radius: 10px;
}
.labels {
  color: #7e858e;
}
.add-btn {
  padding: 8px 15px;
  color: white;
  background-color: #0b69ff;
  border: none;
  border-radius: 5px;
}
.input {
  width: 80%;
  height: 30px;
  outline: none;
}
.transaction-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
  border: 1px solid #d7dfe9;
}
.invisible-btn {
  visibility: hidden;
  padding: 0px;
}
.list-heading {
  font-weight: 500;
  text-align: center;
  width: 100px;
}
.income-list {
  list-style-type: none;
  padding: 0px;
  margin-top: 0px;
}
